<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	table tr, td, th {
	border: 1px solid black;
	border-collapse: collapse; 
}
</style>
</head>
<body>
	<h2>도서목록</h2>
	<a href="/">시작화면</a>
	<table>
		<tr>
			<th>번호</th>
			<th>도서명</th>
			<th>저자</th>
			<th>출판사</th>
			<th>가격</th>
		</tr>
		<tr th:each="book: ${bookList}">
			<td>
				<a th:href="@{|/book/${book.id}|}" th:text="${book.bookName}"></a>
			</td>
			<td th:text="${book.bookAuthor}"></td>
			<td th:text="${book.bookPublisher}"></td>
			<td th:text="${book.bookPrice}"></td>
			<td>
				<button th:onclick="detail([[${book.id})]])">조회</button>
		</tr>
	</table>
</body>
<script th:inline="text/javascript">
	const detail = (id) => {
		console.log("클릭한 id", id);
		// 1번클릭 => /student/1, 2번클릭 => /student/2
		// location.href = "/student/" + id;
		location.href = `/book/${id}`;
	}
	</script>
</body>
</html>